.red{
    color:red
}

h2.intro{
    border-bottom: solid black;
}
strong.intro{
    color: blue;
}
p.intro{
    font-size: smaller;
    color: grey
}
.intro{
    width: 80%;
    margin: 10px 0 10px 0;
}

.menu {
    width: 20%;
    margin: 10px 0 10px 0;
}